@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 1.6rem;
  border: 2px solid whitesmoke;
  padding: 8px 12px;
  margin-top: 45px;
  margin-left: 7rem;
}
header p {
  font-family: "Exo 2", sans-serif;
  letter-spacing: 1px;
  word-spacing: 5px;
  color: whitesmoke;
}
/* Hero section styles */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url('/img3.jpg') no-repeat center center;
  
  background-size: cover; /* Ensure the image covers the entire section */
  color: white;
  min-height: 100vh; /* Full viewport height */
  text-align: center;
  padding: 0; /* Remove padding if not needed */
  margin: 0; /* Remove margin if not needed */
  box-sizing: border-box;
  width: 100vw; /* Ensure full viewport width */
}

/* Ensure content is centered */
.content {
  max-width: 800px;
  width: 100%;
}

/* Title styling */
.title h1 {
  font-size: 4rem;
  margin: 0;
  font-weight: bold;
  line-height: 1.2;
}

/* Subtitle styling */
.sub-title p {
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: 300;
  color: cadetblue;
}

/* Button styling */
.buttons {
  margin-top: 20px;
}

.buttons button {
  background-color: #2034ba; /* Button color */
  border: none;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons button:hover {
  background-color: #0e1857; /* Darker button color on hover */
}

/* Responsive styles */
@media (max-width: 1050px) {
  .hero {
    padding-left: 2.5rem;
  }

  header {
    margin-left: 2.5rem;
  }

  .hero .content .title {
    font-size: 2.75rem;
  }

  .hero .content .sub-title p {
    font-size: 1.3rem;
    line-height: normal;
    margin-bottom: 5px;
  }
}

@media (max-width: 880px) {
  .hero {
    background-position: center;
  }

  .hero .content .title {
    font-size: 2.45rem;
  }

  .hero .content .sub-title p {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .hero {
    background-position: bottom;
  }

  .hero .content .title {
    font-size: 2.2rem;
  }

  .hero .content .sub-title p {
    font-size: 1rem;
  }

  .hero .content .buttons button {
    font-size: 1rem;
  }
}

@media (max-width: 467px) {
  .hero {
    padding-left: 1rem;
  }

  header {
    margin-left: 1rem;
  }

  .hero .content .buttons {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}
